##################################################################################################################
#	Download Config
##################################################################################################################

directory.default.set = /home/enpfeff/torrents/rtorrent
encoding.add = UTF-8
encryption = allow_incoming,try_outgoing,enable_retry
execute.nothrow = chmod,777,/home/enpfeff/.config/rpc.socket
execute.nothrow = chmod,777,/home/enpfeff/.sessions
network.port_random.set = yes
network.port_range.set = 47495-48995
network.scgi.open_port = localhost:47495
network.tos.set = throughput
pieces.hash.on_completion.set = no
protocol.pex.set = no

session.path.set = /home/enpfeff/.sessions/
throttle.global_down.max_rate.set = 0
throttle.global_up.max_rate.set = 0
throttle.max_peers.normal.set = 100
throttle.max_peers.seed.set = -1
throttle.max_uploads.global.set = 100
throttle.min_peers.normal.set = 1
throttle.min_peers.seed.set = -1
trackers.use_udp.set = yes

##################################################################################################################
#	Logging
##################################################################################################################

log.open_file = "rtorrent_critical", /opt/rtorrent/log/rtorrent_critical.log
log.open_file = "rtorrent_debug", /opt/rtorrent/log/rtorrent_debug.log
log.add_output = "debug", "rtorrent_debug"
log.add_output = "warn", "rtorrent_debug"
log.add_output = "error", "rtorrent_critical"
log.add_output = "critical", "rtorrent_critical"


##################################################################################################################
#	Config
##################################################################################################################


##################################################################################################################
#	Schedules & Moves
##################################################################################################################

schedule = watch_directory_1,10,10,"load.start=/home/enpfeff/rtorrent/watch/misc/*.torrent,d.custom1.set=/data/misc"
schedule = watch_directory_2,10,10,"load.start=/opt/rtorrent/watch/tv/*.torrent,d.custom1.set=/data/stagedTv"
schedule = watch_directory_3,10,10,"load.start=/opt/rtorrent/watch/movie/*.torrent,d.custom1.set=/data/movie"

#	move things
schedule = low_diskspace,5,60,close_low_diskspace=100M
method.set_key = event.download.finished, rtorrent_move, "d.directory.set=$d.custom1=;execute = /opt/rtorrent/script/processDownloadComplete.sh, $d.base_path=, $d.custom1="

##################################################################################################################
#	Advanced
##################################################################################################################

system.file.max_size.set = -1
pieces.preload.type.set = 1
pieces.preload.min_size.set = 262144
pieces.preload.min_rate.set = 5120
network.send_buffer.size.set = 1M
network.receive_buffer.size.set = 131072
pieces.sync.always_safe.set = no
pieces.sync.timeout.set = 600
pieces.sync.timeout_safe.set = 900
session.use_lock.set = yes
session.on_completion.set = yes
system.file.split_size.set = -1
system.file.split_suffix.set = .part
trackers.use_udp.set = yes
